{% extends "homebase.html" %}
{% load static %}


{% block title %} Shop Cart List {% endblock %}


{% block body %}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div><!--/breadcrums-->

            <div class="col-md-3">
                <div class="table-responsive cart_info">
                    {% include 'user_menu.html' %}
                </div>
            </div>

            <div class="col-md-8">
                <div class="billing-details">
                    <table class="fa-shopping-cart-table table ">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <td>{{ order.name }}</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>{{ order.surname }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ order.address }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ order.city }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ order.phone }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ order.create_at }}</td>
                        </tr>
                        <tr>
                            <th>Note</th>
                            <td>{{ order.note }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ order.status }}</td>
                        </tr>
                        </thead>


                        <div class="table-responsive cart_info">
                            <table class="table table-condensed">
                                <thead>
                                <tr class="cart_menu">
                                    <td class="image">Id</td>
                                    <td class="">İnfo</td>
                                    <td class="description">Quantity</td>
                                    <td class="price">Price</td>
                                    <td class="quantity">Tutar</td>

                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in items %}
                                    <tr>
                                        <td class="thumb"><img src="{{ rs.product.image.url }}" alt=""> </td>
                                        <td class="details"><a href="#">{{ rs.product.name }}</a> </td>
                                        <td class="price text-center"><strong>₺ {{ rs.price }}</strong></td>
                                        <td class="qty text-center"><strong>{{ rs.quantity }}</strong></td>
                                        <td class="total text-center"><strong class="primary-color">₺ {{ rs.total }}</strong></td>
                                        <td class="text-right"></td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>


                    </table>
                </div>
            </div>
        </div>
        </div>
    </section>


{% endblock %}