<div class="cart_menu">
    <h3 class="table-responsive cart_info">User Menu</h3>
</div>


<ul>
    <li><a href="/user/profile"><i class="fa fa-user"></i> My Account</a></li>
    <li><a href="/order/shopcart"><i class="fa fa-shopping-cart"></i> Shop Cart</a></li>
    <li><a href="/order/checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
    <li><a href="/order"><i class="fa fa-check"></i> My Orders</a></li>
    <li><a href="/comments"><i class="fa fa-check"></i> My Comments</a></li>
    <li><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
</ul>


