{% extends "homebase.html" %}

{% block title %}Anket Detayı{% endblock %}


{% block body %}

     <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Anket Detayı</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">


                        <h1>{{ question.question_text }}</h1>

                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                        <form action="{% url 'polls:vote' question.id %}" method="post">
                            {% csrf_token %}
                            {% for choice in question.choice_set.all %}
                                <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                                       value="{{ choice.id }}">
                                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                            {% endfor %}
                            <input type="submit" value="Vote">
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div><!--/#contact-page-->
{% endblock %}

